<h2 id="where-to-go-from-here">Where to go from here</h2>

<ul>
  <li><a href="/trainingYouth/summary">An Executive Summary of the plan</a></li>
  <li><a href="/trainingYouth/contingencies">Contingencies</a></li>
  <li><a href="/trainingYouth/safety">Student Safety</a></li>
  <li><a href="/trainingYouth/privacy">Data Privacy</a></li>
  <li><a href="/trainingYouth/scaling">Scaling the Program</a></li>
  <li><a href="/trainingYouth/value">Why assign a dollar value?</a></li>
  <li><a href="/trainingYouth/curriculum">Curriculum</a></li>
  <li><a href="/trainingYouth/syllabi">Syllabi</a></li>
  <li><a href="/trainingYouth/technical">Technical Details</a></li>
  <li><a href="/trainingYouth/partners">Partners and Sponsors</a></li>
  <li><a href="/trainingYouth/partnerSignup">Become a Sponsor</a></li>
  <li><a href="/trainingYouth/studentSignup">Enroll in the Program</a></li>
</ul>
